.listViewItem
{
    width: 100%;    
}

.listText, .listHead li
{
    width: 75%;
    text-align: left;
color: red;    
}

.listDelete
{
    width: 30px;
    text-align: right;    
}

.listHead
{
    width: 100%;    
}